albumentations==0.5.2
face-detection@git+https://github.com/hukkelas/DSFD-Pytorch-Inference.git@7bbe1f61ef5cb951a6e55e0a80e4972419edf5ca
tensorflow==2.5.0
numpy>=1.19.5
torch>=1.7.1
pandas>=1.2.4
torchvision>=0.8.2
opencv-python
PyYAML==5.4.1
tqdm==4.56.0
scikit-image
scipy
matplotlib
python-json-logger>=0.1.11
jupyterlab
seaborn